@import "@fortawesome/fontawesome-free/css/all.css";
@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap");
/* Global CSS variables */
/* Root Color Variables */

a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
}
:root {
  /* beige */
  --secondary-background: #f5f5dc;
  /* off-white */
  --primary-background: #faf9f6;
  --heading-color: #d4b88d;
  --text-color: #333;
  --hover-color: #9e7c56;
  --highlight-color: #d4b88d;
  --highlight-color-dark: #b38d5d;
  --cta-color: #d4b88d;
  --cta-text-color: #faf9f6;
  --cta-hover-color: #e1c699;
  --form-input-border-color: #333;
}

/* Global styling for body */
body {
  font-family: "Caveat", serif;
  background-color: var(--primary-background);
}
